@model IEnumerable<Blitz.Models.ProductModel>

@{
    Layout = null;
}



@{
    ViewData["Title"] = "Navbar";
}


<body>
    <nav class="navbar navbar-secondary bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand">Blitz</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <a class="text-decoration-none text-end" href="">Sign Up</a>
            <button type="button" class="btn btn-success">Log In</button>

        </div>
    </nav>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
